body {
  font-family: Arial, sans-serif;
  margin: 0; padding: 0;
  background: #f4f8fb;
}

header {
  background: #0077b6;
  color: white;
  padding: 15px;
  display: flex; justify-content: space-between;
}

nav a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

.search-box {
  text-align: center;
  margin-top: 50px;
}

.search-box form input, button {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}

button {
  background: #0077b6;
  color: white;
  border: none;
  cursor: pointer;
}
button:hover {
  background: #023e8a;
}